:root {
    --base-color: hsla(0, 0%, 20%, 1);
    --light-main-color: hsla(180, 100%, 95%, 1);
    --main-color: hsla(180, 100%, 50%, 1);
    --dark-main-color: hsla(180, 100%, 45%, 1);
    --accent-color: hsla(0, 50%, 50%, 1);
}

code {
    color: var(--accent-color);
    background-color: #CCC;
    border-radius: 5px;
}

h1 {
    padding: 0.5em;
    color: var(--base-color);
    background: var(--light-main-color);
    border-left: 5px solid var(--dark-main-color);
}

h2, h3 {
    padding: 0.25em 0.5em;
    color: var(--base-color);
    background: transparent;
    border-left: 5px solid var(--dark-main-color);
}